body {
    background-color: rgb(0, 0, 0);
}
.slider {
    width: 300px;
    position: relative;
    overflow: hidden;
    height: 300px;
    margin: auto;
}
.slider .item img{
    padding: 100px;
    width: 99px;
    height: 99px;
}
#nextButton, #prevButton {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
#nextButton {
    right: 0;
    border-radius: 3px 0 0 3px;
}
#nextButton:hover, #prevButton:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}